<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="personRepository" class="ru.liga.project.repository.MemoryPersonRepository"/>

    <bean id="virusRepository" class="ru.liga.project.repository.DbVirusRepository">
        <constructor-arg name="jdbcurl" value="jdbc://localhost"/>
        <constructor-arg name="login" value="login"/>
        <constructor-arg name="pass" value="pass"/>
    </bean>

    <bean id="infectionModelling" class="ru.liga.project.domain.InfectionModelling">
        <constructor-arg name="personRepository" ref="personRepository"/>
        <constructor-arg name="virusRepository" ref="virusRepository"/>
    </bean>

    <bean id="infectionStatistic" class="ru.liga.project.domain.InfectionStatistic">
        <constructor-arg name="infectionModelling" ref="infectionModelling"/>
    </bean>
</beans>